node_modules
package-lock.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
/.next/

# production
/build

# misc
.DS_Store
*.pem
